mixin buttons(label, thingId, buttons)
    .row.control
        .col-xs-8= label
        .col-xs-4
            .btn-group(data-thing=thingId)
                if buttons
                    each value, label in buttons
                        button(data-value=value.toString()).btn.btn-default= label
                else
                    button(data-value="true").btn.btn-default
                        span.iec_power &#x23FD;
                    button(data-value="false").btn.btn-default
                        span.iec_power &#x2B58;

mixin select(label, thingId, dropdownLabel, states)
    .row.control
        .col-xs-8= label
        .col-xs-4
            .dropdown
                button(data-toggle="dropdown").btn.btn-default.dropdown-toggle
                    = dropdownLabel
                    span.caret
                ul.dropdown-menu
                    each value, label in states
                        li
                            a(href="#", data-thing=thingId, data-value=value.toString())= label

mixin label(label, thingId)
    .row.control
        .col-xs-8= label
        .col-xs-4
            .text(data-thing=thingId)